.old-apartments-page .floorplan-container {
  margin: 0 auto;
  max-width: 750px;
  position: relative;
}
.old-apartments-page .full-floorplan {
  display: block;
  position: relative;
}
.old-apartments-page .background-flat-one {
  background-color: rgba(147, 131, 127, 0.65);
}
.old-apartments-page .background-flat-two {
  background-color: rgba(189, 196, 167, 0.85);
}
.old-apartments-page .background-flat-one, .old-apartments-page .background-flat-two {
  height: 100%;
  position: absolute;
  opacity: 0;
  top: 9.5%;
  transition: opacity 2s;
  width: 10%;
}
.old-apartments-page .background-flat-one.visible, .old-apartments-page .background-flat-two.visible {
  opacity: 1;
}
.old-apartments-page .flat-one, .old-apartments-page .flat-two {
  height: 100%;
  position: absolute;
  top: 9.5%;
  transition: opacity 2s;
  width: 10%;
}
.old-apartments-page .part-one, .old-apartments-page .part-1 {
  height: 32.75%;
  top: 26%;
  left: 0.5%;
  width: 7.5%;
}
.old-apartments-page .part-two, .old-apartments-page .part-2 {
  height: 80.5%;
  left: 8%;
  top: 17%;
  width: 22%;
}
.old-apartments-page .part-three, .old-apartments-page .part-3 {
  height: 31%;
  top: 17%;
  left: 30%;
  width: 15%;
}
.old-apartments-page .part-four, .old-apartments-page .part-4 {
  height: 38.5%;
  left: 45%;
  width: 7.5%;
}
.old-apartments-page .part-five, .old-apartments-page .part-5 {
  height: 51.25%;
  top: 48%;
  left: 30%;
  width: 37%;
}
.old-apartments-page .part-six, .old-apartments-page .part-6 {
  height: 38.5%;
  right: 33%;
  width: 14.5%;
}
.old-apartments-page .part-seven, .old-apartments-page .part-7 {
  height: 74.75%;
  right: 7.5%;
  width: 25.5%;
}
.old-apartments-page .part-eight, .old-apartments-page .part-8 {
  height: 34%;
  right: 0.5%;
  width: 7%;
}
.old-apartments-page .floor-tag {
  font-size: 2em;
  margin-bottom: 0;
  position: absolute;
  right: 0;
  top: 100%;
}
.old-apartments-page .text-box {
  background-color: #f6f9f0;
  border: 1px solid #93837f;
  position: absolute;
  text-align: left;
  transition: all 1s 0.3s;
  z-index: 4;
}
.old-apartments-page .text-box--1 {
  right: 53%;
  top: 26%;
}
.old-apartments-page .text-box--2 {
  right: 15%;
  top: 15%;
}
.old-apartments-page .flat-number {
  background-color: #93837f;
  border: 2px solid #93837f;
  bottom: 0;
  left: 0;
  padding-right: 1px;
  position: absolute;
  top: 0;
  transition: all 1s 0.3s;
}
.old-apartments-page .flat-number__border {
  border: 1px solid #f6f9f0;
  height: 100%;
  transition: all 1s 0.3s;
}
.old-apartments-page .flat-number__inner {
  height: 100%;
  width: 4em;
  transition: all 1s 0.3s;
}
.old-apartments-page .flat-number__inner .number {
  color: #f6f9f0;
  left: 0;
  font-size: 2.75em;
  position: absolute;
  right: 0;
  text-align: center;
  top: 30%;
  transition: all 1s 0.3s;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.old-apartments-page .flat-info {
  border: 1px solid transparent;
  margin: 2px;
  transition: all 1s 0.3s;
}
.old-apartments-page .flat-info .left, .old-apartments-page .flat-info .right {
  display: inline-block;
  vertical-align: middle;
}
.old-apartments-page .flat-info .left {
  height: 4em;
  width: 4em;
}
.old-apartments-page .flat-info .right {
  padding: 6px 8px 6px 12px;
}
.old-apartments-page .flat-info p {
  margin-bottom: 0;
}
.old-apartments-page .flat-info p em {
  color: #93837f;
  display: inline-block;
  margin-top: 0.5em;
  padding-right: 4px;
}
.old-apartments-page .text-box--available.select {
  background-color: #ffffff;
  border: 1px solid #ffffff;
}
.old-apartments-page .text-box--available.select .flat-number {
  background-color: transparent;
  border: 2px solid transparent;
}
.old-apartments-page .text-box--available.select .flat-number__border {
  border: 1px solid #93837f;
}
.old-apartments-page .text-box--available.select .flat-number__inner .number {
  color: #0c080a;
}
.old-apartments-page .text-box--available.select .flat-info {
  border: 1px solid #93837f;
}
.old-apartments-page .text-box--sold {
  background-color: #f6f9f0;
  border: 1px solid #bdc4a7;
}
.old-apartments-page .text-box--sold .flat-number {
  background-color: #bdc4a7;
  border: 2px solid #bdc4a7;
}
.old-apartments-page .text-box--sold .flat-number__inner .number {
  color: #f6f9f0;
}
.old-apartments-page .text-box--sold .flat-info p em {
  color: #bdc4a7;
}
.old-apartments-page .text-box--sold.select {
  background-color: #ffffff;
  border: 1px solid #ffffff;
}
.old-apartments-page .text-box--sold.select .flat-number {
  background-color: transparent;
  border: 2px solid transparent;
}
.old-apartments-page .text-box--sold.select .flat-number__border {
  border: 1px solid #bdc4a7;
}
.old-apartments-page .text-box--sold.select .flat-number__inner .number {
  color: #0c080a;
}
.old-apartments-page .text-box--sold.select .flat-info {
  border: 1px solid #bdc4a7;
}

.apartments {
  text-align: right;
}
.apartments .house-nagivation {
  width: 100%;
}
.apartments .house-nagivation .arrow-container {
  display: none;
  padding: 0 8px;
}
.apartments .house-nagivation .arrow {
  border-left: 2px solid #bdc4a7;
  height: 38px;
  width: 38px;
}
.apartments .house-nagivation .arrow--up {
  border-top: 2px solid #bdc4a7;
}
.apartments .house-nagivation .arrow--down {
  border-bottom: 2px solid #bdc4a7;
}
.apartments .house-nagivation .arrow.active {
  border-color: #93837f;
  cursor: pointer;
}
.apartments .house-nagivation .arrow.active:hover {
  border-color: #0c080a;
}
.apartments .house-nagivation h4 {
  color: #93837f;
  font-size: 1.25em;
  line-height: 1;
}
.apartments .house-nagivation h4 a {
  border: 1px solid #93837f;
  cursor: pointer;
  display: inline-block;
}
.apartments .house-nagivation h4 a:hover {
  background-color: #ffffff;
}
.apartments .house-nagivation h4 .border {
  border: 1px solid #93837f;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: inline-block;
  margin: 2px;
  padding: 0.25rem;
  width: 1em;
}
.apartments .house-nagivation--mobile {
  padding: 0.75em 0 1.5em;
}
.apartments .house-nagivation--mobile .house-nagivation__inner {
  padding-top: 1px;
}
.apartments .house-nagivation--mobile .list-container, .apartments .house-nagivation--mobile .floor-navigation, .apartments .house-nagivation--mobile h4 {
  display: inline-block;
  vertical-align: middle;
}
.apartments .house-nagivation--mobile .arrow--up {
  -webkit-transform: translate(0, 12px) rotate(45deg);
  -moz-transform: translate(0, 12px) rotate(45deg);
  -ms-transform: translate(0, 12px) rotate(45deg);
  -o-transform: translate(0, 12px) rotate(45deg);
  transform: translate(0, 12px) rotate(45deg);
}
.apartments .house-nagivation--mobile .arrow--down {
  -webkit-transform: translate(0, -13px) rotate(-45deg);
  -moz-transform: translate(0, -13px) rotate(-45deg);
  -ms-transform: translate(0, -13px) rotate(-45deg);
  -o-transform: translate(0, -13px) rotate(-45deg);
  transform: translate(0, -13px) rotate(-45deg);
}
.apartments .house-nagivation--mobile .floor-navigation {
  margin: 0 0.25em;
}
.apartments .house-nagivation--mobile .floor-navigation.current a {
  background-color: #f6f9f0;
  cursor: default;
}
.apartments .house-nagivation--desktop .arrow--up {
  transform: rotate(45deg);
}
.apartments .house-nagivation--desktop .arrow--down {
  transform: rotate(-45deg);
}
.apartments .house-nagivation--desktop ul {
  position: relative;
}
.apartments .house-nagivation--desktop .floor-navigation {
  position: absolute;
  width: 100%;
}
.apartments .house-nagivation--desktop .floor-navigation.current {
  position: relative;
}
.apartments .house-nagivation--desktop .floor-navigation.current h4 {
  opacity: 0;
}
.apartments .house-nagivation--desktop .floor-navigation.current h4.absolute {
  display: block;
  opacity: 1;
}
.apartments .house-nagivation--desktop h4 {
  padding: 1.25rem 0;
}
.apartments .house-nagivation--desktop h4.number {
  opacity: 0;
}
.apartments .house-nagivation--desktop h4.absolute {
  bottom: 0;
  color: #0c080a;
  display: none;
  font-size: 1.125em;
  position: absolute;
  right: 0;
  text-shadow: 0 0 5px #f6f9f0;
  top: 0;
  white-space: nowrap;
  z-index: 2;
}
.apartments .floorplans-container {
  overflow: hidden;
}
.apartments .floorplans-container__inner {
  max-width: 95vh;
  margin: 0 auto;
  width: 100%;
}
.apartments .floorplans {
  position: relative;
}
.apartments .spaceholder {
  display: block;
  margin: 0 auto;
  max-height: 100%;
}
.apartments .floorplan {
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.5s;
  width: 100%;
}
.apartments .floorplan img {
  position: relative;
}
.apartments .floorplan .background {
  background-color: rgba(147, 131, 127, 0.65);
  opacity: 0;
  position: absolute;
  transition: opacity 2s;
}
.apartments .floorplan .background.sold {
  background-color: rgba(189, 196, 167, 0.85);
}
.apartments .floorplan .background.visible {
  opacity: 1;
}
.apartments .floorplan .interactive, .apartments .floorplan .text-box {
  position: absolute;
}
.apartments .floorplan .interactive a, .apartments .floorplan .text-box a {
  display: block;
  height: 100%;
  width: 100%;
}
.apartments .floorplan.visible {
  opacity: 1;
  z-index: 2;
}
.apartments .ground .part-one {
  height: 67%;
  left: 13%;
  top: 18%;
  width: 20%;
}
.apartments .ground .part-two {
  height: 30%;
  left: 33%;
  top: 18%;
  width: 13%;
}
.apartments .ground .part-three {
  height: 36%;
  left: 46%;
  top: 12%;
  width: 6%;
}
.apartments .ground .part-four {
  height: 49%;
  left: 33%;
  top: 48%;
  width: 31.5%;
}
.apartments .ground .part-five {
  height: 36%;
  left: 52%;
  top: 12%;
  width: 35%;
}
.apartments .ground .part-six {
  height: 36%;
  left: 64.5%;
  top: 48%;
  width: 22.5%;
}
.apartments .ground .text-box--1 {
  left: 18%;
  top: 51%;
}
.apartments .ground .text-box--2 {
  right: 16%;
  top: 16%;
}
.apartments .first .part-one, .apartments .second .part-one {
  height: 31.5%;
  left: 6.5%;
  top: 27.5%;
  width: 7%;
}
.apartments .first .part-two, .apartments .second .part-two {
  height: 77.75%;
  left: 13.5%;
  top: 18%;
  width: 19%;
}
.apartments .first .part-three, .apartments .second .part-three {
  height: 30.5%;
  left: 32.5%;
  top: 18%;
  width: 13%;
}
.apartments .first .part-four, .apartments .second .part-four {
  height: 36.5%;
  left: 45.5%;
  top: 12%;
  width: 6.5%;
}
.apartments .first .part-five, .apartments .second .part-five {
  height: 49%;
  left: 32.5%;
  top: 48.5%;
  width: 33%;
}
.apartments .first .part-six, .apartments .second .part-six {
  height: 32.5%;
  left: 52%;
  top: 12%;
  width: 42%;
}
.apartments .first .part-seven, .apartments .second .part-seven {
  height: 4%;
  left: 52%;
  top: 44.5%;
  width: 35.5%;
}
.apartments .first .part-eight, .apartments .second .part-eight {
  height: 34.5%;
  left: 65.5%;
  top: 48.5%;
  width: 22.5%;
}
.apartments .first .text-box--3, .apartments .second .text-box--3 {
  left: 16%;
  top: 22%;
}
.apartments .first .text-box--4, .apartments .second .text-box--4 {
  right: 7%;
  top: 46%;
}
.apartments .first .text-box--5, .apartments .second .text-box--5 {
  left: 16%;
  top: 63%;
}
.apartments .first .text-box--6, .apartments .second .text-box--6 {
  bottom: 61%;
  right: 15.5%;
}
.apartments .third .part-one {
  height: 72%;
  left: 13.5%;
  top: 20%;
  width: 20%;
}
.apartments .third .part-two {
  height: 74%;
  left: 33.5%;
  top: 3.5%;
  width: 29%;
}
.apartments .third .part-three {
  height: 16%;
  left: 33.5%;
  top: 77.5%;
  width: 31.5%;
}
.apartments .third .part-four {
  height: 66%;
  left: 62.5%;
  top: 12.5%;
  width: 25%;
}
.apartments .third .text-box--7 {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.apartments .text-box {
  background-color: #f6f9f0;
  border: 1px solid #93837f;
  position: absolute;
  text-align: left;
  transition: all 1s 0.3s;
  z-index: 4;
}
.apartments .text-box .flat-number {
  background-color: #93837f;
  border: 2px solid #93837f;
  bottom: 0;
  left: 0;
  padding-right: 1px;
  position: absolute;
  top: 0;
  transition: all 1s 0.3s;
}
.apartments .text-box .flat-number__border {
  border: 1px solid #f6f9f0;
  height: 100%;
  transition: all 1s 0.3s;
}
.apartments .text-box .flat-number__inner {
  height: 100%;
  width: 4em;
  transition: all 1s 0.3s;
}
.apartments .text-box .flat-number__inner .number {
  color: #f6f9f0;
  left: 0;
  font-size: 2.75em;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  transition: all 1s 0.3s;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.apartments .text-box .flat-info {
  border: 1px solid transparent;
  margin: 2px;
  transition: all 1s 0.3s;
}
.apartments .text-box .flat-info .left, .apartments .text-box .flat-info .right {
  display: inline-block;
  vertical-align: middle;
}
.apartments .text-box .flat-info .left {
  height: 4em;
  width: 4em;
}
.apartments .text-box .flat-info .right {
  padding: 6px 8px 6px 12px;
}
.apartments .text-box .flat-info p {
  margin-bottom: 0;
}
.apartments .text-box .flat-info p em {
  color: #93837f;
  display: inline-block;
  margin-top: 0.5em;
  padding-right: 4px;
}
.apartments .text-box--available.select {
  background-color: #ffffff;
  border: 1px solid #ffffff;
}
.apartments .text-box--available.select .flat-number {
  background-color: transparent;
  border: 2px solid transparent;
}
.apartments .text-box--available.select .flat-number__border {
  border: 1px solid #93837f;
}
.apartments .text-box--available.select .flat-number__inner .number {
  color: #0c080a;
}
.apartments .text-box--available.select .flat-info {
  border: 1px solid #93837f;
}
.apartments .text-box--sold {
  background-color: #f6f9f0;
  border: 1px solid #bdc4a7;
}
.apartments .text-box--sold .flat-number {
  background-color: #bdc4a7;
  border: 2px solid #bdc4a7;
}
.apartments .text-box--sold .flat-number__inner .number {
  color: #f6f9f0;
}
.apartments .text-box--sold .flat-info p em {
  color: #bdc4a7;
}
.apartments .text-box--sold.select {
  background-color: #ffffff;
  border: 1px solid #ffffff;
}
.apartments .text-box--sold.select .flat-number {
  background-color: transparent;
  border: 2px solid transparent;
}
.apartments .text-box--sold.select .flat-number__border {
  border: 1px solid #bdc4a7;
}
.apartments .text-box--sold.select .flat-number__inner .number {
  color: #0c080a;
}
.apartments .text-box--sold.select .flat-info {
  border: 1px solid #bdc4a7;
}

.apartment {
  margin: 0 auto;
  max-width: 885px;
  padding-left: 15px;
  padding-right: 15px;
}
.apartment .apartment__navigation {
  margin: 0 auto;
  max-width: 19em;
}
.apartment .flat-number-container {
  display: inline-block;
  max-width: 3.8125em;
  padding: 8px 4px;
  width: 25%;
}
.apartment .flat-number {
  background-color: #93837f;
  border: 1px solid #93837f;
  display: inline-block;
  padding: 2px;
  transition: all 1s;
}
.apartment .flat-number.current {
  background-color: #f6f9f0;
  border-color: #f6f9f0;
}
.apartment .flat-number.current .flat-number__border {
  border: 1px solid #93837f;
}
.apartment .flat-number.current .flat-number__inner .number {
  color: #93837f;
  cursor: default;
}
.apartment .flat-number.sold {
  background-color: #bdc4a7;
  border-color: #bdc4a7;
}
.apartment .flat-number.sold .flat-number__inner .number {
  cursor: default;
}
.apartment .flat-number.link:hover {
  background-color: #f6f9f0;
}
.apartment .flat-number.link:hover .flat-number__border {
  border: 1px solid #93837f;
}
.apartment .flat-number.link:hover .flat-number__inner .number {
  color: #93837f;
}
.apartment .flat-number__border {
  display: inline-block;
  border: 1px solid #f6f9f0;
  transition: all 1s;
}
.apartment .flat-number__inner {
  display: inline-block;
  padding: 0.5em;
  transition: all 1s;
}
.apartment .flat-number__inner .number {
  display: inline-block;
  color: #f6f9f0;
  font-size: 1.3125em;
  text-align: center;
  transition: all 1s;
  width: 1em;
}
.apartment .apartment__header {
  padding: 50px 0 25px;
}
.apartment .left, .apartment .right {
  display: inline-block;
  vertical-align: middle;
}
.apartment .left {
  text-align: left;
  width: 25%;
}
.apartment .right {
  text-align: right;
  width: 75%;
}
.apartment h2 {
  position: relative;
}
.apartment .hash {
  bottom: 0.1875rem;
  color: #93837f;
  position: absolute;
  right: 100%;
}
.apartment .table {
  border-bottom: 1px solid #93837f;
  border-right: 1px solid #93837f;
  border-top: 1px solid #93837f;
  margin: 1.5em 0;
}
.apartment .cell {
  border-left: 1px solid #93837f;
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
.apartment .cell--bottom-border {
  border-bottom: 1px solid #93837f;
}
.apartment .cell--parking {
  display: none;
}
.apartment .border {
  border: 1px solid #93837f;
  margin: 2px;
  padding: 4px 2px;
}
.apartment .cell__inner {
  position: relative;
  text-align: left;
}
.apartment .cell__inner img {
  display: block;
}
.apartment .cell__inner .number {
  color: #0c080a;
  left: 0;
  padding-left: 6px;
  position: absolute;
  right: 0;
  top: 0;
}
.apartment .cell__inner .number.large {
  font-size: 1.5em;
}
.apartment .cell__inner .number.larger {
  font-size: 1.625em;
}
.apartment .cell__inner .label {
  bottom: 0;
  color: #0c080a;
  left: 0;
  padding: 3px 6px;
  position: absolute;
  right: 0;
}
.apartment .floorplan-container {
  padding: 1.75em 0;
}
.apartment .description h3, .apartment .description h5 {
  margin-bottom: 1em;
}
.apartment .photos {
  padding: 2em 0;
}
.apartment .photo-container {
  display: inline-block;
  vertical-align: middle;
}
.apartment .photo-container.wide {
  max-width: 213.75px;
  width: 70%;
}
.apartment .photo-container.narrow {
  max-width: 91.3px;
  width: 29.9%;
}
.apartment .photo-container.narrower {
  max-width: 86.77px;
  width: 28.5%;
}
.apartment .photo-container__inner {
  padding: 2px;
}
.apartment .photo-container__inner img {
  cursor: pointer;
  vertical-align: middle;
}
.apartment .video-container {
  padding: 1.5em 0;
}
.apartment .youtube-video {
  display: block;
  margin: 0 auto;
}
.apartment .contact-info {
  background-color: #f6f9f0;
  border: 1px solid #93837f;
  margin: 1em auto;
  padding: 2px;
}
.apartment .contact-info .left {
  display: none;
}
.apartment .contact-info .right {
  text-align: left;
  width: 100%;
}
.apartment .contact-info .img-container, .apartment .contact-info .contact-details-container {
  padding: 8px;
}
.apartment .contact-info img {
  display: block;
}
.apartment .contact-info p:first-child {
  margin-bottom: 1.375em;
}
.apartment .contact-info p .margined {
  margin-bottom: 0.5em;
}
.apartment .contact-info p:last-child {
  padding-top: 1em;
}
.apartment .contact-info p span {
  display: inline-block;
}
.apartment .contact-info p span:first-child {
  color: #93837f;
  width: 4.5em;
}
.apartment .contact-info__inner {
  border: 1px solid #93837f;
}
.apartment .contact-info-header {
  border-bottom: 1px solid #93837f;
  color: #645450;
  padding: 1em;
}
.apartment .contact-info-header h5 {
  margin-bottom: 0;
}

/*
aside {
    // bottom: 0;
    color: $pure-white;
    // left: 0;
    overflow: auto;
    // position: fixed;
    // right: 0;
    // top: 0;
    transition-property: transform;
    transition-duration: 2s;
}
*/
#slideshow {
  background-color: #0c080a80;
  overflow: hidden;
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  transform: translate(0, 100%);
  z-index: 7;
}
#slideshow header {
  position: absolute;
}
#slideshow .slideshow-container {
  height: 100%;
  margin: 0 auto;
  max-width: 1156.25px;
  width: 100%;
}
#slideshow .previous-container, #slideshow .slideshow-container__inner, #slideshow .next-container {
  display: inline-block;
  height: 100%;
  position: relative;
  vertical-align: top;
}
#slideshow .previous-container, #slideshow .next-container {
  width: 15%;
}
#slideshow .previous-container .arrow, #slideshow .next-container .arrow {
  border-top: 2px solid #ffffff;
  cursor: pointer;
  height: 38px;
  position: absolute;
  top: 50%;
  width: 38px;
}
#slideshow .previous-container .arrow--previous, #slideshow .next-container .arrow--previous {
  border-left: 2px solid #ffffff;
  right: 0;
  transform: translate(25%, -50%) rotate(-45deg);
}
#slideshow .previous-container .arrow--next, #slideshow .next-container .arrow--next {
  border-right: 2px solid #ffffff;
  left: 0;
  transform: translate(-25%, -50%) rotate(45deg);
}
#slideshow .slideshow-container__inner {
  width: 70%;
}
#slideshow .photos-container {
  background-color: #f6f9f0;
  left: 0;
  padding: 2px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
#slideshow .photos-border {
  border: 1px solid #bdc4a7;
  padding: 3px;
}
#slideshow .photos-container__inner {
  position: relative;
}
#slideshow .photos-container__inner img {
  display: block;
}
#slideshow .photo-container {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
#slideshow .photo-container .photo {
  height: 100%;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 0.5s;
}
#slideshow .photo-container .photo.visible {
  opacity: 1;
}
#slideshow.slideshow--opened {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

@media screen and (min-width: 350px) {
  .apartments .house-nagivation--mobile .arrow-container {
    display: inline-block;
    vertical-align: middle;
  }

  .apartment .border {
    padding: 6px 4px;
  }
}
@media screen and (min-width: 26em) {
  .apartments .house-nagivation--mobile .floor-navigation {
    margin: 0 0.75em;
  }
}
@media screen and (min-width: 495px) {
  .apartments .house-nagivation--mobile .floor-navigation {
    margin: 0 1em;
  }
  .apartments .house-nagivation--desktop {
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }

  .apartment .cell {
    width: 25%;
  }
  .apartment .cell--bottom-border {
    border-bottom: none;
  }
}
@media screen and (min-width: 33.5em) {
  .apartment .apartment__navigation {
    max-width: none;
  }
}
@media screen and (min-width: 640px) {
  .apartments .house-nagivation--mobile {
    display: none;
  }
  .apartments .house-nagivation--desktop {
    display: inline-block;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    vertical-align: middle;
    width: 9%;
  }
  .apartments .house-nagivation--desktop .house-nagivation__inner {
    display: inline-block;
  }
  .apartments .house-nagivation--desktop .arrow-container {
    display: inline-block;
  }
  .apartments .house-nagivation--desktop .floor-navigation {
    position: relative;
    width: auto;
  }
  .apartments .house-nagivation--desktop h4.number {
    opacity: 1;
  }
  .apartments .floorplans-container {
    display: inline-block;
    vertical-align: middle;
    width: 91%;
  }

  .apartment .contact-info .left {
    display: inline-block;
    width: 20%;
  }
  .apartment .contact-info .right {
    width: 80%;
  }
  .apartment .contact-info .contact-details-container {
    padding-left: 1em;
  }
}
@media screen and (min-width: 1125px) {
  .apartment .border {
    padding: 9px;
  }
  .apartment .cell {
    width: 20%;
  }
  .apartment .cell--parking {
    display: inline-block;
  }
}

/*# sourceMappingURL=apartments.css.map */
